.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 30px;
}
.header-logo {
  height: 30px;
}
.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  list-style-type: none;
}
.profile {
  height: 30px;
  margin: 1px 30px;
}
.logout-button {
  background-color: transparent;
  outline: none;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  font-size: 13px;
  padding: 2px 8px;
  font-family: 'Bree serif';
}
