.sidebar-container {
  width: 25%;
  padding-left: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
}
.media-icons {
  height: 25px;
  margin-right: 10px;
}
.sidebar-text {
  width: 50%;
  font-size: 14px;
}
.contact {
  font-size: 14px;
  font-weight: bold;
}
